<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
       <link rel="stylesheet" href="../public/style.css">

    </head>
    <body>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>



        <div class="site-wrapper">

            <div class="site-wrapper-inner">
      
              <div class="container">
      
                <div class="masthead clearfix">
                  <div class="container inner">
                    <h3 class="masthead-brand">Image Classifier</h3>
                    <nav> 
                      <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                       <li><a href="/history">History</a></li>
                        <li><a href="#">About</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
      
                <div class="inner cover">

                    <div id="back">
                        <img id="targetImage" width=450 height=300 />
                    </div>
                        <p id="classificationHeading"></p>
                        <div class="form-group">
                          <input id="imageUrl" type="text" placeholder="Url" class="form-control">
                          <span class="bmd-help">Paste an image URL here</span>
                        </div>
                        <button id="classifyButton" type="button" class="btn btn-success">Classify</button>
                        <button class="btn btn-danger" id="deleteButton" onclick="document.getElementById('imageUrl').value = ''">Delete</button>
                    </div>
            
                    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
                    <script src="../public/client.js"></script>
              </div>
      
            </div>
      
          </div>
    </body>

</html>